@using Microsoft.AspNetCore.Identity;
@model RoadRecordViolationSystem.ViewModels.AddUserViewModel
@inject RoleManager<IdentityRole> _roleManager
@{
    string action = string.Empty;
    string imagePath = string.Empty;

    if(Model is null || Model.UserInfo.UserInfoId == 0) 
    {
        imagePath = "~/profile.png";
    }
    else 
    {
        imagePath = Model.Account.ProfilePicture;
    }
}

<div asp-validation-summary="ModelOnly"></div>

<!-- Modal -->
<div class="modal-body">
    <p class="fs-4 text-black">Personal Information</p>
    <hr />
    <div class="mb-2">
        <label class="form-label">Profile Picture</label><br />
        <input type="file" name="ImageFile" class="upload-file"   onchange="changeProfile()" accept="image/*" id="file-holder" />
        
        <img alt="Profile Picture" src="@Url.Content(imagePath)"  id="pictureOutput" style="width:100px;height:100px; object-fit:cover; margin-left:170px;" class="img-fluid rounded-circle mb-5 " />
        <div>
            <label for="file-holder" class="upload-btn"><i class="bi bi-camera"></i>Upload Photo</label>
        </div>
    </div>

    @Html.AntiForgeryToken()

    <!-- Form -->
    <form class="form-ajax" method="post">
        <input type="text" hidden asp-for="Account.ProfilePicture" id="picture-holder" />
        <div class="mb-2">
            <label for="given-name" class="form-label">Given Name</label>
            <input type="text" asp-for="@Model.UserInfo.GivenName" id="given-name" class="form-control" />
            <span asp-validation-for="@Model.UserInfo.GivenName" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" asp-for="@Model.UserInfo.LastName" id="last-name" class="form-control mb-2" />
            <span asp-validation-for="@Model.UserInfo.LastName" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label for="middle-name" class="form-label">Middle Name</label>
            <input type="text" asp-for="@Model.UserInfo.MiddleName" id="middle-name" class="form-control mb-2" />
            <span asp-validation-for="@Model.UserInfo.MiddleName" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label for="city" class="form-label">City</label>
            <input type="text" asp-for="@Model.UserInfo.City" id="city" class="form-control mb-2 " />
            <span asp-validation-for="@Model.UserInfo.City" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label for="address" class="form-label">Address</label>
            <input type="text" asp-for="@Model.UserInfo.Address" id="address" class="form-control mb-2" />
            <span asp-validation-for="@Model.UserInfo.Address" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label for="Gender" class="form-label">Gender</label>
            <select asp-for="@Model.UserInfo.Gender" class="form-select" id="gender">
                <option value=@null selected>--SELECT A GENDER--</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <span asp-validation-for="@Model.UserInfo.Gender" class="text-danger"></span>
        </div>

        <p class="fs-4 text-black">Account Information</p>
        <hr />

        <div class="mb-2">
            <label for="user-name" class="form-label">UserName</label>
            <input type="text" asp-for="@Model.Account.UserName" id="user-name" class="form-control mb-2" />
            <span asp-validation-for="@Model.Account.UserName" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label for="role" class="form-label">User Role</label>
            <select asp-for="@Model.Account.Role" class="form-select">
                <option value=@null selected>--SELECT A ROLE--</option>
                @foreach (var role in _roleManager.Roles)
                {
                    <option value="@role">@role</option>
                }
            </select>
            <span asp-validation-for="@Model.Account.Role" class="text-danger"></span>
        </div>

        @if (Model is null || Model.Account.AccountId is null || Model.UserInfo.UserInfoId == 0) 
        {
            {
                action = "Add";
            }

            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" asp-for="@Model.Password" id="password" class="form-control mb-2" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label for="confirm" class="form-label">Confirm Password</label>
                <input type="password" asp-for="@Model.ConfirmPassword" id="confirm" class="form-control mb-2" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
        }
        else
        {
            {
                action = "Update";
            }
            <input type="text" hidden asp-for="@Model.Account.AccountId" />
            <input type="text" hidden asp-for="@Model.UserInfo.UserInfoId" />
            <input type="text" hidden asp-for="@Model.Password" />
            <input type="text" hidden asp-for="@Model.ConfirmPassword" />
        }

    </form>
</div>

<div class="modal-footer">
    <input type="submit" class="btn btn-primary" onclick="requestAjaxAddUpdateWithFile('/AdminAccounts/@action')" value="@action" />
    <button class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
</div>



